:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
}

#root {
  padding: 0;
  width: 100%;
  background-color: #fafafa;
}

a {
  font-size: 18px;
  font-weight: 600;
  color: #254397;
  text-decoration: inherit;
}

a:hover {
  color: #becfff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

.navbar-container {
  height: 29px;
  background-color: #e6e6e6;
}

.navbarItem {
  padding: 5px;
}

.navbarItem:hover {
  background-color: #5e5e5e;
}

button {
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #e6e6e6;
  border: 1px solid #5e5e5e;
}

button:hover {
  border-width: 2px;
  padding: 7px 13px;
}


.navbar-container {
  display: flex;
  width: 100%;
}